.example-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  .all-chart{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .all-btn{
    text-align: center;
  }